<% if @cart.line_items.blank? %>
  <div class="columns is-centered mt-6">
    <h1>Dodaj coś do koszyka</h1>
  </div>

  <% else %>
<ul>
  <% @cart.line_items.each do |item| %>
    <li class="m-5 p-3">
      <div class="container">
        <div class="box is-rounded is-centered has-background-light">
          <div class="columns is-multiline is-vcentered">
            <div class="column">
              <img class="image" src="https://ecsmedia.pl/c/homo-deus-krotka-historia-jutra-w-iext104052432.jpg">
            </div>
            <div class="column is-two-fifths">
              <p class="is-size-4 is-capitalized has-text-weight-semibold has-text-left"><%= item.item_name %></p>
            </div>
            <div class="column is-one-quarter">
              <p class="is-size-5 has-text-centered">Cena za sztukę <%= item.unit_price %> zł <br>Ilość: <%= item.quantity %></p>
            </div>
            <div class="column is-one-fifth">
            <span class="button is-danger">
                <%= button_to remove_item_cart_path(book_id: item.book.id), method: :post, data: { turbo: false } do %>
                  <span class="has-text-black is-size-6 has-text-weight-semibold">Usuń z koszyka</span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class="columns is-centered">
  <%= link_to edit_cart_path, class: "button is-warning has-text-black is-size-6 has-text-weight-semibold" do %>
    Przejdź dalej
  <% end %>
</div>
<% end %>