<section class="hero is-ligth is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-512x512 is-inline-block">
        <%= image_tag("Logo.png") %>
      </figure>
    </div>
  </div>
</section>
<div class="box cta">
  <nav class="navbar" role="navigation" aria-label="main navigation">


    <div id="navbarBasicExample" class="navbar-menu has-text-centered">
      <div class="navbar-start">
        <a class="navbar-item">
          Książki
        </a>

        <a class="navbar-item">
          Zamówienia
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Filtry
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              <%= sort_link(@q, :price, "Cenowo", default_order: :asc, class: "has-text-black") %>
            </a>
            <a class="navbar-item">
              <%= sort_link(@q, :name, "Alfabetycznie", default_order: :asc, class: "has-text-black") %>
            </a>
          </div>
        </div>
        <a class="navbar-item">
          Kontakt
        </a>
      </div>
      <% if !current_user %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button class="button is-warning">
                <%= link_to "Zarejestruj się", new_user_registration_path, class: "has-text-black" %>
              </button>
              <button class="button is-light">
                <%= link_to "Zaloguj się", user_session_path, class: "has-text-black" %>
              </button>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button class="button is-warning">
                <%=link_to "Wyloguj się", destroy_user_session_path, 'data-turbo-method': :delete, class: "has-text-black" %>
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
</div>
<section class="container">
  <% @books.each_slice(3) do |batch| %>
    <div class="columns features">
      <% batch.each do |book| %>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="" alt="Placeholder image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h5><%= book.name %></h5>
                <h6><%= book.price %></h6>
                <div>
                  In stock: <span class="is-size-6 has-text-weight-semibold	"><%= book.quantity %></span>
                </div>
                <span class="button is-warning">
                <%= link_to book_path(book) do %>
                  <span class="has-text-black is-size-6 has-text-weight-semibold">Details</span>
                <% end %>
              </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
