<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <strong><%= @book.name %></strong>
      </h1>
      <h2 class="subtitle">
        Cena: <strong><%= @book.price %> zł</strong>
      </h2>
    </div>
  </div>
</section>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-256x256">
        <img src="<%= @book.image %>" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h5>
          Zostało <small><%= @book.quantity %> sztuk</small>
          <br>
        </h5>
        <h6><%= @book.text %></h6>
      </div>


    </div>
  </article>
</div>
