
<section class="hero is-fullheight">
  <div class="container">
    <div class="hero-body has-text-centered">
      <div class="login">
        <%= image_tag 'Logo.png' %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false }) do |f| %>
          <div class="field mt-5">
            <div class="control">
              <%= f.email_field :email, class: "input is-medium is-rounded", type: "email", placeholder: "hello@example.com", autocomplete: "email", autofocus: true, required: true %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.password_field :password, class: "input is-medium is-rounded", type: "password", placeholder: "**********", autocomplete: "current-password", required: true %>
            </div>
          </div>
          <br/>
          <button class="button is-block is-fullwidth is-warning is-medium is-rounded " type="submit">
            Zaloguj się
          </button>
        <% end %>
        <br>
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <a href=<%= new_user_password_path %>>Zapomniałem hasła</a>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <a href=<%= new_user_registration_path %>>Zarejestruj się</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
