<!DOCTYPE html>
<html>
  <head>
    <title>Brewforbrain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <% if flash[:notice] %>
    <div class="notification is-success"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="notification is-warning"><%= flash[:alert] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="notification is-danger"><%= flash[:error] %></div>
  <% end %>
  <%if ['index', 'show','edit', 'confirmation'].include? action_name%>
  <section class="hero is-ligth is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="image is-512x512 is-inline-block">
          <%= image_tag("Logo.png") %>
        </figure>
      </div>
    </div>
  </section>
  <div class="box cta">
    <nav class="navbar" role="navigation" aria-label="main navigation">


      <div id="navbarBasicExample" class="navbar-menu has-text-centered">
        <div class="navbar-start">
            <%= link_to 'Książki', books_path, class: "navbar-item" %>
          <% if current_user %>

              <%= link_to 'Zamówienia', orders_path, class: "navbar-item" %>

          <% end %>
          <%if action_name == 'index'%>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Filtry
            </a>

            <div class="navbar-dropdown">
                <%= sort_link(@q, :price, "Cenowo", default_order: :asc, class: "navbar-item") %>
                <%= sort_link(@q, :name, "Alfabetycznie", default_order: :asc, class: "has-text-black navbar-item") %>
            </div>
          </div>
            <%end %>
          <a class="navbar-item">
            Kontakt
          </a>

            <%= link_to cart_path, class: "navbar-item" do%>
            Koszyk: <%= ss = current_cart.line_items.map {|e| e.quantity}.sum %> <%= ss == 1 ? "produkt" : "produkty"  %>
            <%end %>

        </div>
        <% if !current_user %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <button class="button is-warning">
                  <%= link_to "Zarejestruj się", new_user_registration_path, class: "has-text-black" %>
                </button>
                <button class="button is-light">
                  <%= link_to "Zaloguj się", user_session_path, class: "has-text-black" %>
                </button>
              </div>
            </div>
          </div>
        <% else %>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <button class="button is-warning">
                  <%=link_to "Wyloguj się", destroy_user_session_path, 'data-turbo-method': :delete, class: "has-text-black" %>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
    <%end %>
      <%= yield %>

  </body>
</html>
